*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  font-size: 10px;
}

body {
  color: #3c3c3c;
  font-size: 1.6rem;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a2825;
}

a {
  color: inherit;
  text-decoration: underline;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:not(pre) > code {
  display: inline-block;
  padding: 0 4px;
  color: inherit;
  background-color: #fafafa;
  border: solid 1px #dadada;
  border-radius: 4px;
}

pre[class*="language-"],
code[class*="language-"] {
  font-size: 1.2rem;
}

.wrapper {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 720px;
}

header {
  padding: 40px 0;
  border-bottom: solid 1px #eee;
}

nav {
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  padding: 8px;
}

footer {
  margin-top: 40px;
  padding: 40px 0;
  border-top: 1px solid #eee;
  text-align: center;
}

footer span {
  color: #555;
  font-size: 12px;
}
